<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss} %-5level %logger{35} %msg %n</pattern>
		</layout>
	</appender>
	
	<!-- 파일출력 -->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/log/lyae/logfile.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/log/lyae/plogfile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
			<totalSizeCap>2GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>

	<logger name="mapper" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

</configuration>